/SummonManager/*.suo
/SummonManager/SummonManager/bin/Debug
/SummonManager/SummonManager/obj/Debug/SummonManager.csproj.FileListAbsolute.txt
/SummonManager/SummonManager/obj
/SummonManager/SummonManager/obj/Debug/SummonManager.csproj.FileListAbsolute.txt
